<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>familiares</title>
</head>
<body>
    <h1>Familiares</h1>
    <h2>{{familiar_1.nombre}} {{familiar_1.apellido}} </h2>
    <p> {{familiar_1.Tipo}} </p>
    <p> Edad: {{familiar_1.edad}} </p>
    <p> Fecha de nacimiento: {{familiar_1.nacimiento}} </p>

    <h2>{{familiar_2.nombre}} {{familiar_2.apellido}} </h2>
    <p> {{familiar_2.Tipo}} </p>
    <p> Edad: {{familiar_2.edad}} </p>
    <p> Fecha de nacimiento: {{familiar_2.nacimiento}} </p>

    <h2>{{familiar_3.nombre}} {{familiar_3.apellido}} </h2>
    <p> {{familiar_3.Tipo}} </p>
    <p> Edad: {{familiar_3.edad}} </p>
    <p> Fecha de nacimiento: {{familiar_3.nacimiento}} </p>

</body>
</html>