<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>familiares</title>
</head>
<body>
    <h1>Familiares</h1>
    {% for familiar in familiares %}
    <h2>{{familiar.nombre}} {{familiar.apellido}} </h2>
    <p>{{familiar.Tipo}}</p> 
    <p>Edad: {{familiar.edad}}</p>
    <p>Nacimiento: {{familiar.nacimiento}}</p>
    {% endfor %}
</body>
</html>